# Android
*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build/
/captures
.externalNativeBuild
.cds/
*.apk
*.aab

# Backend
supercomp-backend/node_modules/
supercomp-backend/.env
supercomp-backend/.env.local

# Keys & secrets
*.jks
*.keystore
google-services.json